{% extends 'base.html.twig' %}

{% block body %}
    <h1>CommentStatus edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
	<div class="form-group">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<input type="submit" value="Update" class="btn btn-primary" />
			<a href="{{ path('admin_comment_status_show', { 'id': commentStatus.id }) }}" class="btn btn-warning">Cancel</a>
		</div>
	</div>
    {{ form_end(edit_form) }}

{% endblock %}
