<form method="get" class="form-horizontal">
    <fieldset>
        <legend>Search</legend>
        <div class='form-group'>
            <label class='col-sm-2 control-label' for='q'>Search term</label>
            <div class='col-sm-10'>
                <div class='input-group'>
                    <input type='text' name='q' id='q' class='form-control' value='{{ q }}'>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class='glyphicon glyphicon-search'></span>
                            Search
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </fieldset>
</form>

{% if q %}
    {% embed 'NinesUtilBundle:term/partial:index.html.twig' with {'terms': results, 'path': path} %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(results) }}
    </div>

{% endif %}
