{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comment edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
	<div class="form-group">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<input type="submit" value="Update" class="btn btn-primary" />
			<a href="{{ path('comment_show', { 'id': comment.id }) }}" class="btn btn-warning">Cancel</a>
		</div>
	</div>
    {{ form_end(edit_form) }}

{% endblock %}
