{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comment on {{ entity }}</h1>

    {% include '@NinesFeedback/comment/comment-interface.html.twig' with { 'entity': entity } %}

{% endblock %}
