{#
    PdfContainerInterface container
    path_delete
    path_edit
#}
{% set pdfs = container.pdfs %}
{% set cols = 3 %}
{% set colspan = 'col-sm-' ~ (12 // cols) %}
{% set rows = (pdfs|length / cols)|round(0, 'ceil') %}

{% for row in 0 .. (rows - 1) %}
    <div class="row">
        {% for col in 0 .. (cols - 1) %}
            {% set index = (row * cols + col)|number_format %}

            {% if pdfs[index] is defined %}
                {% set pdf = pdfs[index] %}
                <div class="col-xs-12 {{ colspan }}">
                    {% include '@NinesMedia/pdf/ui/thumbnail.html.twig' with {'pdf': pdf} %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
