<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove" />
                </button>
                <h4 class="modal-title" id="modalTitle" />
            </div>
            <div class="modal-body">
                <figure>
                    <img src="" id="modalImage" />
                    <figcaption></figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
