{#
    ImageContainerInterface container
#}
{% set images = container.images %}
{% set cols = 3 %}
{% set colspan = 'col-sm-' ~ (12 // cols) %}
{% set rows = (images|length / cols)|round(0, 'ceil') %}

{% for row in 0 .. (rows - 1) %}
    <div class="row">
        {% for col in 0 .. (cols - 1) %}
            {% set index = (row * cols + col)|number_format %}

            {% if images[index] is defined %}
                {% set image = images[index] %}
                <div class="col-xs-12 {{ colspan }}">
                    {% include '@NinesMedia/image/ui/thumbnail.html.twig' with {
                        'image': image
                    } %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
