{% extends 'base.html.twig' %}

{% block title %}Audio Details {% endblock %}

 {% block pageheader %}
     <h1>Audio Details</h1>
 {% endblock %}

{% block body %}

    <div class='well'>
        <figure>
            <audio controls src='{{ path('nines_media_audio_play', {'id': audio.id}) }}' type='{{ audio.mimeType }}'>
                Your browser does not support playing audio.
            </audio>
            <figcaption>Link to entity</figcaption>
        </figure>
    </div>

    {% embed '@NinesMedia/audio/partial/detail.html.twig' %}
    {% endembed %}

{% endblock %}
