{% extends 'base.html.twig' %}

{% block title %}Reference Details {% endblock %}

 {% block pageheader %}
     <h1>Reference Details</h1>
 {% endblock %}

{% block body %}

    {% embed '@NinesUtil/reference/partial/detail.html.twig' %}
    {% endembed %}

{% endblock %}
