{% extends 'base.html.twig' %}

    {% block title %}New Element {% endblock %}

    {% block body %}
        <h1>New Element</h1>

        {% embed '@NinesDublinCore/element/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
