services:

    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Nines\DublinCoreBundle\:
        resource: '../../*'
        exclude: '../../{Entity,Resources,Tests}'

    Nines\DublinCoreBundle\Controller\:
        resource: '../../Controller/*'
        public: true
        tags:
            - 'controller.service_arguments'
            - 'knp_paginator.injectable'

    Nines\DublinCoreBundle\Menu\Builder:
        tags:
            - { name: knp_menu.menu_builder, method: dcNavMenu, alias: nines_dc_elements }
