{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('@NinesUser/admin/_form.html.twig') }}

    <a href="{{ path('nines_user_admin_index') }}">back to list</a>
{% endblock %}
