<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Status</th>
            <th>Content</th>
            <th>Submitter</th>
            <th>Entity</th>
        </tr>
    </thead>
    <tbody>
        {% for comment in comments %}
            <tr>
                <td>
                    {% if comment.status is not null %}
                        {{ comment.status.label }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('nines_feedback_comment_show', { 'id': comment.id }) }}">
                        {{ comment.content|u.truncate(40, '...') }}
                    </a>
                </td>
                <td>{{ comment.fullname }}</td>
                <td>
                    {% include '@NinesUtil/linked_entity/link.html.twig' with {
                        'entity': comment
                    } %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
