{% extends 'base.html.twig' %}

{% block title %}PDFDetails {% endblock %}

 {% block pageheader %}
     <h1>PDFDetails</h1>
 {% endblock %}

{% block body %}

    <div class='well' id='pdfview' style='height: 40em'></div>

    {% embed '@NinesMedia/pdf/partial/detail.html.twig' %}
    {% endembed %}

{% endblock %}

{% block javascripts %}
    <script src='{{ asset('yarn/pdfobject/pdfobject.min.js') }}'></script>
    <script>PDFObject.embed("{{ path('nines_media_pdf_view', {'id': pdf.id}) }}", "#pdfview")</script>
{% endblock %}
