{% set flags = flag_service.findFlags(entity) %}
{% if flags|length %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Flags
        </div>
        <div class="panel-body">
            <ul>
                {% for flag in flags %}
                    <li>
                        {{ flag }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
