{% extends 'base.html.twig' %}

{% block title %}Value List{% endblock %}

{% block pageheader %}
    <h1>Value List</h1>
    <p class="count">
        Displaying {{ values|length }} values of {{ values.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('nines_dc_value_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search </a>
        </div>
    </div>

    {% embed '@NinesDublinCore/value/partial/table.html.twig' %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(values) }}
    </div>

{% endblock %}
