<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Entity</th>
            <th>Url</th>
            <th>Text</th>

        </tr>
    </thead>
    <tbody>
        {% for link in links %}
            <tr>
                <td>
                    <a href="{{ path('nines_media_link_show', { 'id': link.id }) }}">
                        {{ link.id }}
                    </a>
                </td>
                <td>
                    {% include '@NinesUtil/linked_entity/link.html.twig' with {
                        'entity': link
                    } %}
                </td>

                <td>
                    {{ link.url }}
                </td>

                <td>
                    {{ link.text }}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
