{% extends 'base.html.twig' %}

 {% block pageheader %} 
    <h1>Field</h1>
 {% endblock %} 

{% block body %}

    <div class="btn-toolbar">
    <div class="btn-group pull-right">
        <a href="{{ path('field_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
        </a>
    </div>
</div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Value</th>
            <td>{{ field.value }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if field.created %}{{ field.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if field.updated %}{{ field.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
