{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>Password change</h1>
{% endblock %}

{% block body -%}

    <p>Use this form to change the password for {{ entity.email }}</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-2"></div>

        <div class="col-sm-1">
            <input type="submit" value="Update" class="btn btn-primary" />            
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
