{% extends 'base.html.twig' %}

    {% block title %}Edit Comment {% endblock %}

    {% block body %}
        <h1>Edit Comment</h1>

        {% embed '@NinesFeedback/comment/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
