{% extends 'base.html.twig' %}

{% block title %}Citation List{% endblock %}

{% block pageheader %}
    <h1>Citation List</h1>
    <p class="count">
        Displaying {{ citations|length }} citations of {{ citations.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('citation_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search </a>
        </div>
    </div>

    {% embed '@NinesMedia/citation/partial/table.html.twig' %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(citations) }}
    </div>

{% endblock %}
