{% extends 'base.html.twig' %}

{% block title %}Image List{% endblock %}

{% block pageheader %}
    <h1>Image List</h1>
    <p class="count">
        Displaying {{ images|length }} images of {{ images.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('nines_media_image_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search </a>
        </div>
    </div>

    {% embed '@NinesMedia/image/partial/table.html.twig' %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(images) }}
    </div>

{% endblock %}
